* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f6fa;
    display: flex;
    flex : 1;
    flex-direction :column;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

header, footer {
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Ajoute ceci pour éviter tout débordement */
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    box-sizing: border-box; /* Ajoute ceci aussi */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: auto;
}

.main {
    background-color: #344D59;
    color: white;
}

.corps {
    background-color: #7A90A4;
    color:black;
    text-align: center;
}

.feet {
    position: relative;
    background-color: #B8CBD0;
    color: black;
    border-radius: 10px;
    /*text-align: center;*/
}


a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #4864b1;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info-cachee {
    opacity: 0;
    max-height: 0;
    overflow-y:hidden;
    transition: opacity 1.5s ease-in, max-height 1.5s ease-in-out;
}

.feet:hover .info-cachee {
    opacity: 1;
    max-height :500px; /* ajuste selon ton contenu */
}

